
#about-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -60px;
  color: black;
  }

  h3, p {
    color: black;
  }

  p {
    width: 300px;
  }

#about {
  > div#about-text {
    max-width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    margin-top: 75px;
    @media (max-height: 400px) {
      margin-top: 0;
      position: relative;
      left: 55%;
      top: 50%;
      transform: translate(-50%,-50%);
      p {
        width: 350px;
      }
    }
    @media (min-width: 575px) {
      position: absolute;
      left: 45%;
      top: 35%;
      transform: translate(-50%, -50%);
    }
    @media (min-width: 650px) {
      left: 40%;
    }
    @media (min-width: 900px) {
      left: 35%;
    }
  }
  h2 {
    color: black;
    font-size: 42px;
    font-weight: 600;
    span {
      color: red;
    }
    @media (min-width: 650px) {
      br {display: none;}
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 200;
    margin: 10px 0 20px 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
  }

  #about-bobbi-img {
    display: none;
    background: url('../images/bobbi.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    @media (min-width: 575px) {
      display: inline-block;
      width: 30%;
    }
    @media (min-width: 650px) {
      width: 35%;
    }
    @media (min-width: 900px) {
      width: 45%;
    }
  }
}
