$right-nav-bg: #3D3D3D;
$left-nav-bg: black;
$firstbreak: 480px;
$nav-height: 85px;

a:hover {
  cursor: pointer;
}

.vertical-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 2px;
  height: 90%;
  background: white;
}

#home-button {
  left: -100%;
}

.close-button {
  position: absolute;
  bottom: 0;
  background: black;
  z-index: 2;
  cursor: pointer;
  width: 84px;
  height: 84px;
  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
  }
  .vertical-line {
    height: 100%;
    top: 0;
    transform: rotate(45deg);
  }
  .vertical-line:nth-of-type(2) {
    transform: rotate(-45deg);
  }
}
main {
  > nav {
    width: 235px;
    height: $nav-height;
    line-height: $nav-height;
    background: $left-nav-bg;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    // z-index: 1;
    font-family: lato;
    font-size: .9em;
    text-align: center;
    @media (max-height: 450px) {
      left: 25%;
      transform: translate(-50%,-50%);
      bottom: auto;
      top: 55%;
    }
    @media (min-width: 700px) and (min-height: 500px) {
      left: 20%;
      top:75%;
    }
    ul {
      position: relative;

      display: block;
    }
    ul, ul li {
      display: inline-block;
      line-height: 50px;
    }

    ul li {
      width: 110px;
      text-align: center;
    }

  }
}



header {
  background: black;
  padding: 10px;
  h2, div {
    display: inline-block;
    line-height: 40px;
  }
  h2 {
    padding: 0 10px;
  }
  div {
    float: right;
    a {
      padding: 0 10px;
    }
  }
}
