$section-bg: rgba(61, 61, 61,.8);
$section-font-color: grey;

#sections {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $section-bg;
  left: 0;
  opacity: 0;
  z-index: -1;
}

#sections > div {
  opacity: 0;
}

.section {
  height: 100%;
  width: 100%;
  position: relative;
}

.close {
  padding: 15px;
  margin: 5px;
  display: inline-block;
  background: #3D3D3D;
  cursor: pointer;
}

.section article {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#horizontal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
}

#landing {
  background: #CECED0;
  background: url('../images/stairs.jpg');
  background-size: cover;
  background-position: center;
}

#landing, #slider {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
}

#slider {
  z-index: 2;
  left: -100%;
  background: white;
  overflow: hidden;
}

#slider > section {
  background: white;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 0;
  overflow-y: scroll;
  display: none;
  opacity: 0;
}
