$imageBorder: 10px;

#work-img-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  margin-top: 68px;
  .img-section {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
  .images {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40%;
    float:left;
    border: $imageBorder solid white;
    border-top: none;

    @media (max-width: 500px) {
      &:first-child {
        border-top: $imageBorder solid white;
      }
    }

    @media (min-width: 500px) and (max-width: 1000px) {
      width: 50%;
      &:nth-child(even) {
        border-left: ($imageBorder / 2) solid white;
      }
      &:nth-child(odd) {
        border-right: ($imageBorder / 2) solid white;
      }
    }
    @media (min-width: 1000px) {
      width: 33.333%;
    }
    &:hover{
      cursor:zoom-in;
    }
  }
}

#work aside {
  position: fixed;
  width: 100%;
  color: black;
  background: white;
  z-index: 2;

  li {
    padding: 20px 0;
    min-width: 25%;
    display: inline-block;
    text-align: center;
  }
}

#work li {
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  padding: 2px;
}

#work li.selected {
  // border-bottom: 1px solid black;
  background: black;
  color: white;
}

#fullscreen-photo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;
  background: black;
  display: none;
  &:hover {
    cursor:zoom-out;
  }
}

#fullscreen-photo {
  #photo {
    width: 100%;
    height: 90%;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  #photo-nav {
    background: black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: white;
    // div {
    //   display: inline-block;
    //   // background: white;
    //   // color: black;
    //   height: 100%;
    //   width: 100px;
    //   text-align: center;
    //   line-height: 60px;
    //
    // }
    ol {
      text-align: center;
    }
    ol li {
      display: inline-block;
      padding: 5px;
      margin: 0 30px;
      &:hover {
        border: 1px solid white;
      }
    }
  }
}
