// bower:scss
// endbower
@import 'normalize';
@import 'navigation';
@import 'sections';
@import 'work';
@import 'about';
@import 'mailer';

body {
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-weight: 300;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

main {
  > section {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @media (max-height: 450px) {
      top: 55%;
      left: 75%;
    }
    h1 {
      font-size: 76px;
      line-height: 50px;
      font-weight: 400;
      span {
        font-size: 36px;
      }
    }

    h2 {
      margin-top: 15px;
    }
    @media (max-height: 1000px) and (min-width: 500px) and (max-width: 1000px) and (orientation:portrait) {
      h1 {
        font-size: 110px;
        span {
          font-size: 50px;
        }
      }

    }
    @media (min-width: 500px) and (min-height: 500px) {
      h1 {
        $h1-and-span-500: 50px;
        font-size: $h1-and-span-500;
        white-space: nowrap;
        span {
          font-size: $h1-and-span-500;
        }
        br {display: none;}
      }
    }
    @media (min-width: 1000px) {
      $h1-and-span-1000: 56px;
      h1 {
        font-size: $h1-and-span-1000;
        span {
          font-size: $h1-and-span-1000;
        }
      }
      h2 {
        margin-top: 40px;
        font-size: 1.25em;
      }
    }
  }
}
