html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%;
  width: 100%; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, ul, li, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
a:hover {
  cursor: pointer; }

.vertical-line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2px;
  height: 90%;
  background: white; }

#home-button {
  left: -100%; }

.close-button {
  position: absolute;
  bottom: 0;
  background: black;
  z-index: 2;
  cursor: pointer;
  width: 84px;
  height: 84px; }
  .close-button > div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 75%;
    height: 75%; }
  .close-button .vertical-line {
    height: 100%;
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .close-button .vertical-line:nth-of-type(2) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

main > nav {
  width: 235px;
  height: 85px;
  line-height: 85px;
  background: black;
  color: white;
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: lato;
  font-size: .9em;
  text-align: center; }
  @media (max-height: 450px) {
    main > nav {
      left: 25%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      bottom: auto;
      top: 55%; } }
  @media (min-width: 700px) and (min-height: 500px) {
    main > nav {
      left: 20%;
      top: 75%; } }
  main > nav ul {
    position: relative;
    display: block; }
  main > nav ul, main > nav ul li {
    display: inline-block;
    line-height: 50px; }
  main > nav ul li {
    width: 110px;
    text-align: center; }

header {
  background: black;
  padding: 10px; }
  header h2, header div {
    display: inline-block;
    line-height: 40px; }
  header h2 {
    padding: 0 10px; }
  header div {
    float: right; }
    header div a {
      padding: 0 10px; }

#sections {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(61, 61, 61, 0.8);
  left: 0;
  opacity: 0;
  z-index: -1; }

#sections > div {
  opacity: 0; }

.section {
  height: 100%;
  width: 100%;
  position: relative; }

.close {
  padding: 15px;
  margin: 5px;
  display: inline-block;
  background: #3D3D3D;
  cursor: pointer; }

.section article {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

#horizontal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed; }

#landing {
  background: #CECED0;
  background: url("../images/stairs.jpg");
  background-size: cover;
  background-position: center; }

#landing, #slider {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll; }

#slider {
  z-index: 2;
  left: -100%;
  background: white;
  overflow: hidden; }

#slider > section {
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  overflow-y: scroll;
  display: none;
  opacity: 0; }

#work-img-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  margin-top: 68px; }
  #work-img-container .img-section {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto; }
  #work-img-container .images {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40%;
    float: left;
    border: 10px solid white;
    border-top: none; }
    @media (max-width: 500px) {
      #work-img-container .images:first-child {
        border-top: 10px solid white; } }
    @media (min-width: 500px) and (max-width: 1000px) {
      #work-img-container .images {
        width: 50%; }
        #work-img-container .images:nth-child(even) {
          border-left: 5px solid white; }
        #work-img-container .images:nth-child(odd) {
          border-right: 5px solid white; } }
    @media (min-width: 1000px) {
      #work-img-container .images {
        width: 33.333%; } }
    #work-img-container .images:hover {
      cursor: -webkit-zoom-in;
      cursor: zoom-in; }

#work aside {
  position: fixed;
  width: 100%;
  color: black;
  background: white;
  z-index: 2; }
  #work aside li {
    padding: 20px 0;
    min-width: 25%;
    display: inline-block;
    text-align: center; }

#work li {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 2px; }

#work li.selected {
  background: black;
  color: white; }

#fullscreen-photo {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 3;
  background: black;
  display: none; }
  #fullscreen-photo:hover {
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }

#fullscreen-photo #photo {
  width: 100%;
  height: 90%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }
#fullscreen-photo #photo-nav {
  background: black;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white; }
  #fullscreen-photo #photo-nav ol {
    text-align: center; }
  #fullscreen-photo #photo-nav ol li {
    display: inline-block;
    padding: 5px;
    margin: 0 30px; }
    #fullscreen-photo #photo-nav ol li:hover {
      border: 1px solid white; }

#about-container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: -60px;
  color: black; }

h3, p {
  color: black; }

p {
  width: 300px; }

#about > div#about-text {
  max-width: 80%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  margin-top: 75px; }
  @media (max-height: 400px) {
    #about > div#about-text {
      margin-top: 0;
      position: relative;
      left: 55%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      #about > div#about-text p {
        width: 350px; } }
  @media (min-width: 575px) {
    #about > div#about-text {
      position: absolute;
      left: 45%;
      top: 35%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }
  @media (min-width: 650px) {
    #about > div#about-text {
      left: 40%; } }
  @media (min-width: 900px) {
    #about > div#about-text {
      left: 35%; } }
#about h2 {
  color: black;
  font-size: 42px;
  font-weight: 600; }
  #about h2 span {
    color: red; }
  @media (min-width: 650px) {
    #about h2 br {
      display: none; } }
#about h3 {
  font-size: 16px;
  font-weight: 200;
  margin: 10px 0 20px 0; }
#about p {
  font-size: 16px;
  font-weight: 400;
  max-width: 100%; }
#about #about-bobbi-img {
  display: none;
  background: url("../images/bobbi.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0; }
  @media (min-width: 575px) {
    #about #about-bobbi-img {
      display: inline-block;
      width: 30%; } }
  @media (min-width: 650px) {
    #about #about-bobbi-img {
      width: 35%; } }
  @media (min-width: 900px) {
    #about #about-bobbi-img {
      width: 45%; } }

#contact {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background: white;
  display: none; }
  #contact form {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
    top: 0; }
    #contact form > section {
      width: 85%;
      margin: 0 auto; }
  #contact footer {
    position: fixed;
    width: 100%;
    height: 84px;
    bottom: 0; }
    #contact footer .field {
      width: 100%;
      height: 100%; }
    #contact footer #close-mailer {
      float: left; }
      #contact footer #close-mailer > div {
        position: relative; }
  #contact h1 {
    margin-top: 0; }
  #contact label {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #999999; }
  #contact input {
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9; }
  #contact textarea {
    width: 100%;
    height: 200px;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9; }
  #contact textarea:focus, #contact input:focus {
    outline: none; }
  #contact button {
    display: inline-block;
    width: calc(100% - 84px);
    height: 100%;
    border: none;
    font-size: 0.9rem;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    float: right;
    text-align: center; }
  #contact button:hover, #contact button:focus {
    background: green;
    cursor: pointer; }
  #contact button:active {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset; }
  #contact .success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 4px; }
  #contact .error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    border-radius: 4px; }

body {
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-weight: 300; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

main > section {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }
  @media (max-height: 450px) {
    main > section {
      top: 55%;
      left: 75%; } }
  main > section h1 {
    font-size: 76px;
    line-height: 50px;
    font-weight: 400; }
    main > section h1 span {
      font-size: 36px; }
  main > section h2 {
    margin-top: 15px; }
  @media (max-height: 1000px) and (min-width: 500px) and (max-width: 1000px) and (orientation: portrait) {
    main > section h1 {
      font-size: 110px; }
      main > section h1 span {
        font-size: 50px; } }
  @media (min-width: 500px) and (min-height: 500px) {
    main > section h1 {
      font-size: 50px;
      white-space: nowrap; }
      main > section h1 span {
        font-size: 50px; }
      main > section h1 br {
        display: none; } }
  @media (min-width: 1000px) {
    main > section h1 {
      font-size: 56px; }
      main > section h1 span {
        font-size: 56px; }
    main > section h2 {
      margin-top: 40px;
      font-size: 1.25em; } }
